(
    image_path: "textures/player/jump_fall.png",
    sprites: [
        (
            position: (0, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (32, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (64, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (96, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (128, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (160, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (192, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (224, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (256, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (288, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (352, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (320, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (352, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (384, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (416, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (448, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (480, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
         (
            position: (512, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (544, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (576, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (608, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (640, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (672, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
    ],
)
