(
    image_path: "textures/player/run_into_obstacle.png",
    sprites: [
        (
            position: (0, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (32, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (64, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (96, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (128, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (160, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (192, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (224, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (256, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
    ],
)
