(
    image_path: "textures/player/jump_fall.png",
    sprites: [
        (
            position: (512, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (544, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (576, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (608, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
        (
            position: (640, 0),
            size: (32, 32),
            offset: (13, 7),
        ),
    ],
)
