(
    fps: 60,
    window: (
        size: (320, 240),
        scale: 3,
        title: "Akari",
        icon_path: "textures/window_icon.png",
    ),
    gravity: (
        acceleration: -480,
        terminal_velocity: -180,
    ),
    input_buffer: (
        jump_buffer_frames: 3,
    ),
    player: (
        jump_speed: 290,
        movement_speed: 100,
        grounded_acceleration: 850,
        airborne_acceleration: 250,
    ),
)